.cell {
  height: 77px;
  border: 1px solid black;
  vertical-align: top;
  padding: 2px;
  font-size: 12px;
  font-weight: bold;
  color: #a9a9a9;
  width: 13vw;
  max-width: 13vw;
  height: 115px;
}

.value {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-today {
  border: 1px solid #77bacf;
  background-color: #eefbff;
  border-radius: 50%;
}

.is-weekend {
  background-color: #f2f2f2;
}

.is-in-month {
  color: #000000;
}
